@font-face {
    font-family: "Vera";
    src: url(../fonts/vera.ttf);
}

body {
    font-family: "Vera";
    margin: 0; padding: 0;
}

nav.topnav {
    background-color: powderblue;
    border-bottom: solid 1px skyblue;
    padding: 10px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

nav.topnav > span.logo { padding: 0 7px; vertical-align: middle; }
nav.topnav > span.logo > img { margin-bottom: -6px; }

nav.topnav > span.link { padding: 10px 7px; vertical-align: middle; }
nav.topnav > span.link > a, nav.topnav > span.link > a:visited { color: darkslategray; text-decoration: none; }
nav.topnav > span.link > a, nav.topnav > span.link > a:hover { color: black; text-decoration: none; }
nav.topnav > span.link.active > a, nav.topnav > span.link.active > a:visited { color: black; text-decoration: none; }