@font-face { font-family: "Open Sans Bold"; src: url(opensans-bold.ttf); }
@font-face { font-family: "Open Sans Bold Italic"; src: url(opensans-bolditalic.ttf); }
@font-face { font-family: "Open Sans Extra Bold"; src: url(opensans-extrabold.ttf); }
@font-face { font-family: "Open Sans Extra Bold Italic"; src: url(opensans-extrabolditalic.ttf); }
@font-face { font-family: "Open Sans Italic"; src: url(opensans-italic.ttf); }
@font-face { font-family: "Open Sans Light"; src: url(opensans-light.ttf); }
@font-face { font-family: "Open Sans Light Italic"; src: url(opensans-lightitalic.ttf); }
@font-face { font-family: "Open Sans Regular"; src: url(opensans-regular.ttf); }
@font-face { font-family: "Open Sans Semibold"; src: url(opensans-semibold.ttf); }
@font-face { font-family: "Open Sans Semibold Italic"; src: url(opensans-semibolditalic.ttf); }